services:
  odoo:
    image: 'registry.gitlab.com/sherpya/odoo-docker-image:18.0-l10n-italy-latest'
    # build: .
    # ports:
    #  - '8069:8069'
    pull_policy: always
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8069/web/database/selector"]
    depends_on:
      - postgres
    restart: unless-stopped
    volumes:
      - odoo_data:/odoo/data
      - ./extra-addons:/mnt/extra-addons
    env_file:
      - path: .env
        required: false
    environment:
      - SERVICE_FQDN_ODOO_8069
      - ODOO_DB_HOST=postgres
      - ODOO_DB_USER=odoo
      - 'ODOO_LIST_DB=${ODOO_LIST_DB}'
      - 'ODOO_DB_FILTER=${ODOO_DB_FILTER}'
      - 'ODOO_DB_PASSWORD=${SERVICE_PASSWORD_POSTGRES}'
      - 'ODOO_ADMIN_PASSWD=${ODOO_ADMIN_PASSWD}'
  postgres:
    image: postgres:17.7
    environment:
      - POSTGRES_USER=odoo
      - 'POSTGRES_PASSWORD=${SERVICE_PASSWORD_POSTGRES}'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U odoo -d postgres" ]
      interval: 30s
      timeout: 10s
      start_period: 10s
      retries: 5
    restart: unless-stopped
    volumes:
      - 'postgres_data:/var/lib/postgresql/data'
    expose:
      - 5432
volumes:
  odoo_data: null
  postgres_data: null
